* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/*  */

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
#wrapper.toggled {
  padding-left: 250px;
} 
.collapse a{
  font-weight: 400;
}

#sidebar-wrapper {
  /* z-index: 1000; */
  position: fixed;
  left: 0;
  width: 300px;
  height: auto !important;
  overflow-y: auto;
  font-weight:600;
  /* background: #a40307; */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

.navbar-collapse{
  background: none;
}
 
.close{
 display: none;
}
.close{
  color: white;
    /* right: 10px; */
    /* top: 10px; */
   cursor: pointer;
    /* position: absolute; */
    margin: 10px 10px;
}
.close:hover{
  
  color: white;
  opacity: .5;

}
.sidebar-nav {
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 30px;
  margin-bottom: 7%;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color:white;
  text-align: left;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
 
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.opnbtn{
  display: none;
} 
#wrapper {
  padding-left: 320px;
} 
.submenu .fas.fa-server i{
  padding-right: 5px;
}
@media(max-width:800px){
  #sidebar-wrapper {
    width: 0;
  }
  .float-right{
    display: none;
  }

}
@media(min-width:800px) {
  #wrapper.toggled {
      padding-left: 0;
  }
 
  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }
  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }

}

/*  */
body{
  overflow: hidden;
  font-family: 'Roboto', sans-serif !important;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
h5{
  color: black;
  font-size: 16px;
  font-weight: 600;
}
label{
  color:#ced4da;
}
body {
  letter-spacing: normal;
}
#pie-chart{
height: 250px;
}
.bg_section{
  width: 100%;
  height:100vh ;
  background: rgb(221, 224, 226);
  position: relative;
  overflow: hidden;
}
.bg_section::before{
position: absolute;
content: '';
width: 400px;
height: 400px;
top: -100px;
left: -100px;
background:lightblue;
border-radius: 50%;
}
.bg_section::after{
position: absolute;
content: '';
width: 400px;
height: 400px;
bottom: -100px;
right: -100px;
background: lightpink;
border-radius: 50%;
}

.accordion ul li{
 font-size: 12px;
 padding: 10px 10px;
 color: black;
 
 border-radius: 10px;
}
.accordion ul li:hover{
background:lightpink ;
}
li a{
  color: black;
  text-decoration: none !important;
}
li a:hover,li a:visited{
  text-decoration: none !important;
  color: black;
}
.side_Bottom{
  position: relative;
  /* margin-top: 60px; */
  padding:60px 20px;
  border-radius: 20px;
  background: rgb(250, 229, 232);
}

.card_common_your{
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 25px;
}
.card_common_your:hover{
  background:rgb(84, 84, 194);
  cursor: pointer;
}
.side_bottom_image{
  background: url('../images/styleperson.png')  no-repeat padding-box;
  height:210px; 
  background-position: center; 
  background-size: cover; 
  border-radius: 25px;
  position: absolute;
  width: 100%;
  /* top: 0; */
  left: 0;
  bottom: -140px;
}
.add_btn{
  padding: 20px;
  background: lightsteelblue;
  border-radius: 20px;
}
.main_card{
  background: #fff;
  border-radius: 20px;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.internal_card{
  background: #fff;
  border-radius: 20px;
  padding: 10px;
  position: relative;
}
.dash_style{
  width: 100% !important;
  background:  rgb(239, 243, 245);
  border-radius: 20px;
  padding: 10px;
  height: 80vh;
}
.dashHeading_style{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px 0;
}
.dash_image{
  background: url('../images/dashheading.jpg')  no-repeat padding-box;
  height:300px; 
  background-position: center; 
  background-size: cover; 
  border-radius: 25px;
  position: relative;
}
.bottom_style{
  position: absolute;
  left: 14px;
  bottom: -6px;
  border-radius: 25px;
  background:rgb(84, 84, 194)
}
.card_blue{
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  background:rgb(84, 84, 194)
}
.card_pink{
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  background:lightpink;
}
.line_style{
  /* background:rgb(239, 243, 245) ; */
  margin: 5px auto;
  padding-top: 8px;
  align-items: center;
  border-radius: 10px;
}
.line_style:nth-child(odd){
  background:rgb(239, 243, 245) ;
}
.line_style_middle h6,p{
  font-size: 12px;
}
.btn{
    width: 100%;
    color:#fff;
    padding:5px ;
    background: rgb(135, 135, 237) !important;
    border-radius: 10px;
    text-align: left;
    outline: none !important;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
}
.btn:hover{
  box-shadow: 0px 0px 5px 2px rgb(28 79 107 / 62%);
  transition: .5s;
}
.bottom_style h4{
  padding-top: 4px;
  color: #fff;
  font-size: 13px;
}
.bottom_style p{
  color: purple;
  font-size: 12px;
}
.btn_style{
  margin: 10px 0;
}
.selectwidth {
  width: 20rem !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Responsive Css Start */
@media only screen and (max-width: 1170px) {
  .selectwidth {
    width: 16rem !important;
  }
  /* .main_card {
    overflow: scroll;
    height: calc(80vh - 50px);
  } */
  .dash_style {
    overflow: scroll;
  }
}

@media only screen and (max-width: 1023px) {
  .selectwidth {
    width: 11rem !important;
  }

  .dashHeading_style{

  }
  .main_page_style{
    height: 50vh !important;
  }
}

@media only screen and (max-width: 767px) {
  .selectwidth {
    width: 30rem !important;
  }

  .main_card {
    overflow: scroll !important;
    height: calc(100vh - 100px) !important;
  }

  .toggledSeries{
    display: none;
  }
  #sidebar-wrapper{
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper{
    width: 100% !important;
  }
  /* .sidebar-nav li{
    line-height: 0px !important;
  } */
  .side_Bottom{
    display: none !important;
  }
  .accordion ul li{
    margin-bottom: 0px !important;
  }
  .dash_style {
    margin-top: 10px;
    padding-top: 140px !important;
  }
  .btn{
    width: 80% !important;
  }
  .dash_other{
    margin-top: 170px;
  }
}

@media only screen and (max-width: 600px) {
  .selectwidth {
    width: 18rem !important;
  }
  .btn{
    margin: 5px 0;
    width: 80% !important;
  }
}

